:root {
    --color-main: pink;
    --color-secondary: white;
    --color-highlight: rgb(255, 231, 215);
    --font-main: "Times New Roman", "Georgia", serif;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {}

header {
    background-color: var(--color-main);
    color: var(--color-highlight);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    font-family: var(--font-main);
}

nav {
    display: flex;
    justify-content: space-between;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;

}

/* header */

header img {
    width: 75px;
}

nav a {
    text-decoration: none;
}

/* hero */
.hero {
    position: relative;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    color: var(--color-secondary);
    position: absolute;
    top: 110px;
    width: 100%;
    text-align: center;
}

.hero article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    position: absolute;
    top: 120px;
    /* width: 100%; */
    text-align: center;
    color: var(--color-secondary);
}

.hero article img {
    float: right;
    width: 250px;
}

/* history */

h2 {

    text-align: center;
}

section {
    border: 1px solid black;
    display: grid;
    place-items: center;
}

.history {
    grid-template-columns: 1fr 1fr 1fr;
    /* justify-content: space-between; */
}

.history h2 {
    grid-column: 1 / 4;
}

.history img {
    /* align-self: flex-start; */
}

/* gallery */

.gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.gallery h2 {
    grid-column: 1 / 6;
}

.gallery figure img {
    align-self: center;
}

.gallery figure figcaption {
    text-align: center;
}

/* footer */

footer {
    /* background-color: rgb(215, 182, 245); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

footer p {
    grid-column: 1 / 4;
    text-align: center;
}

.socialmedia {}

footer a {
    text-decoration: none;
}

.socialmedia a {
    text-decoration: none;
}