* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-main: darkblue;
    --color-secondary: black;
}

nav {
    background-color: var(--color-main);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--color-main);

}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--color-secondary);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

main p {
    padding: 100px 0;
}

main {
    max-width: 800px;
}

aside {
    width: auto;
    margin: auto;
    border: none;
    padding: 0;
    background-color: aliceblue;
    color: var(--color-secondary);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;

}

aside h2 {
    position: absolute;
    left: 75px;
}

footer {
    margin-top: 10px;
    border-top: 1px solid var(--color-secondary);
    text-align: center;
}

/* class selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}